.searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}


.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: 0;
  cursor: pointer;
}

.button:hover {
  scale: 1.14;
}

.btnText {
  position: absolute;
  clip-path: inset(50%);
}

.input {
  margin-left: 10px;
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0 3px;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}