.loadMore {
  background-color: #007bff;
  color: #fff;
  border: none;
  width: inherit;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loadMore:hover {
  background-color: #3f51b5;
}